.video-check {
    width: 1122px;
    height: 551px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.45);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.video{
    width: 100%;
    height: 100%;
}


.face {
    width: 321px;
    height: 398px;
    flex-shrink: 0;
    border-radius: 100%;
    border: 3px dashed #FFF;
}

.alert {
    color: rgba(255, 255, 255, 0.45);
    font-family: 'MyFont';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}

.chat-layout {
    display: flex;
    gap: 63px;
}

.icon {
    display: flex;
    gap: 32px;
    
}

.nickname-input {
    display: flex;
    width: 500px;
    height: 75px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    background: rgba(233, 233, 233, 0.76);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: rgba(0, 0, 0, 0.45);
    font-family: 'MyFont';
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1.6px;
}

.nickname-input:focus {
    color: black;
}

.enter-btn {
    display: flex;
    width: 340px;
    height: 75px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #3479AD;
    color: #FFF;
    font-size: 40px;
    letter-spacing: 40px;
    border: none;
}

.input-container {
    display: flex;
    width: 870px;
    height: 80px;
    align-items: flex-start;
    gap: 29px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}