.userinfo-container {
    width: 336px;
    height: 600px;
    border: 1px solid;
    border-radius: 5px;
}

.name, .email, .mileage, .edit-user, .mileage-box, .edit-modal, .edit-input, .resign-container {
    display: flex;
    justify-content: center;
} 

.name {
    height: 43px;
    font-size: 32px;
    letter-spacing: 6.4px;
    margin-top: 34px;
}

.email {
    font-size: 24px;
    font-family: 'MyFont';
    letter-spacing: 2.4px;
    margin-top: 37px;
}

.mileage {
    width: 228px;
    color: #DB7500;
    font-size: 32px;
    letter-spacing: 6.4px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FDFF8A;
    margin-top: 28px;
}

.edit-user {
    font-family: 'MyFont';
    font-size: 28px;
    letter-spacing: 5.6px;
    margin-top: 53px;
    cursor: pointer;
}

.open-modal {
    width: 274px;
    height: 245px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #ECECEC;
    margin-top: 15px;
    padding-top: 20px;
    margin-bottom: 23px;
}

.edit-input {
    height: 50px;
    gap: 10px;
    margin-bottom: 14px;
}

.edit-input input {
    width: 166px;
    border-radius: 5px;
    border: none;
    color: #898989;
    text-align: center;
    font-family: Galmuri11;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.4px;
}

.edit-input button {
    width: 65px;
    border-radius: 5px;
    border: none;
    background: #3479AD;
    color: #FFF;
    font-family: 'MyFont';
    font-size: 24px;
    letter-spacing: 2.4px;
}

.edit-input button:hover {
    transform: translateY(-2px);  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.resign-container {
    font-size: 24px;
    letter-spacing: 4.8px;
    margin-top: 60px;
}

.resign-message {
    font-family: 'MyFont';
    cursor: pointer;
    color: #898989;
}

.resign-message:hover {
    color: #DB7500;
}