/* 폰트 문제 padding 15px */
/* 아이템 가격 */
.item-price {
    width: 131px;
    height: 43px;
    padding: 0px 10px 0px 15px;
    text-align: center;
    line-height: normal;
    justify-content: center;

    border-radius: 5px;
    background: #DB7500;
    color: white;
    border: none;

    font-size: 32px;
    letter-spacing: 6.4px;

    left: -10px;
    position: relative;
    z-index: 1;
}

.mileage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3479AD;

    color: white;
    font-size: 24px;

    text-align: center;
    padding-left: 2px;
    z-index: 2;

    margin-left: 10px;
}

.item-price:hover {
    transform: translateY(-2px);  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.item-price:active {
    box-shadow: none;
    transform: translateY(0);
}


.price-back {
    background-color: #FDFF8A;
    width: 188px;
    height: 56px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.img-box {
    width: 188px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.item-img {
    width: 128px;
    height: 128px;
    border-radius: 5px;
}

/* 전체 아이템 */
.item {
    width: 222px;
    height: 253px;
    border-radius: 5px;
    background: #ECECEC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 아이템 정렬 */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    border-radius: 5px;
    border: 1px solid;
    /* 스크롤 */
    overflow: auto;
    max-height: 550px;

    margin-top: 8px;

}

.main-item {
    margin: 10px; 
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}

.container::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}