.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.container {
    /* 모달창 크기 */
    width: 684px;
    height: 684px;
  
    /* 최상단 위치 */
    z-index: 999;
    
    /* 중앙 배치 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* 모달창 디자인 */
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;

  }
  
  /* 모달창 내부 X버튼 */
  .close {
    position: absolute;
    right: 30px;
    top: 20px;
    border: none;
    background: none;
  }

  .title {
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
  }

/* purchaseModal */
.item-img {
  width: 128px;
  height: 128px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
 
}

.item-name {
  text-align: center;
  font-size: 32px;
  font-family: 'MyFont';
  letter-spacing: 3.2px;
  margin-top: 36px;

}

.item-price {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.btn-container {
  display: flex;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 50%);
  gap: 10px;
}
 
.purchase-btn {
  display: flex;
  width: 180px;
  height: 58px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #3479AD;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 6.4px;
  border: none;
  padding-right: 10px;

}

.cancel-btn {
  display: flex;
  width: 111px;
  height: 58px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #DB7500;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 6.4px;
  border: none;
  padding-left: 20px;
}

.purchase-btn:hover {
  transform: translateY(-2px);  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.cancel-btn:hover {
  transform: translateY(-2px);  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}