.top-container {
  display: flex;
  width: 1135px;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 10px;
}

.waitingroom-container {
    display: flex;
    justify-content: center;
    min-width: 500px;

}

.camera-container {
    justify-content: center;
    padding-bottom: 20px;
}
