.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* App 전체 크기 설정 */
body {
  margin: 32px;
  font-family: 'MyFont', 'MyFontBold';
  font-size: 32px;
}

/* 로컬 폰트 설정 */
@font-face {
  font-family: 'MyFont';
  src: url(../src/assets/fonts/Galmuri11.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFontBold';
  src: url(../src/assets/fonts/Galmuri11-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

