/* 카테고리 선택 */
.user-item-container {
    width: 800px;
    height: 530px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid;
    background-color: white;
}

.radio-input input {
  display: none;
}

.radio-input {
  margin-top: px;
  --container_width: 600px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #FDFF8A;
  color: #DB7500;
  width: var(--container_width);
  overflow: hidden;

}

.radio-input label {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 28px;
  letter-spacing: 5.4px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 4);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: #DB7500;
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0/4));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/4));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2/4));
}

.radio-input label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 3/4));
  }
  

/* 아이템 */
.myitem-container {
    width: 222px;
    height: 236px;
    border-radius: 5px;
    background-color: #ECECEC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
  }

.myitem-container div {
    padding-top: 10px;
}

.myimg-box, .myitem-name, .myitem-img {
    display: flex;
    justify-content: center;
    margin: auto;
}

.myitem-img {
    width: 128px;
    height: 128px;
    border-radius: 5px;
}

.myimg-box {
    width: 188px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D9D9D9;
    align-items: center;
    margin-bottom: 10px;
}

.myitem-name {
    width: 188px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #A4A4A4;
    color: white;
    font-family: 'MyFont';
    padding: 0!important;
    align-items: center;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2.4px;
}

.myitem-container:hover {
  transform: translateY(-2px);  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.myitem-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: min-content;
    width: 798px;
    margin-top: 8px;
    padding-top: 8px;
    min-width: 770px;
    justify-items: start; /* 이 부분을 추가합니다. */
    

    /* 스크롤 */
    overflow: auto;
    max-height: 550px;
}


.myitem-wrap::-webkit-scrollbar {
  width: 10px;
}

.myitem-wrap::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 2px;
}

.myitem-wrap::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 2px;
  box-shadow: inset 0px 0px 5px white;
}

.check-icon {
  position: relative;
  top: -230px;
  left: 15px;
  height: 0px;
}

.go-market button {
  width: 360px;
  padding: 10px;
  border-radius: 5px;
  background: #3479AD;
  color: #FFF;
  font-size: 28px;
  letter-spacing: 4.8px;
  border: none;

  margin-left: 220px;
  margin-top: 150px;
}

.go-market button:hover {
  transform: translateY(-2px);  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
